<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h3>BienestarSoacial App</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat odio consectetur nobis quo cupiditate, labore
        nemo quibusdam excepturi tempore veniam eum ab. Quo minus iusto vel asperiores quos necessitatibus officiis.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/BienSocial.jpg" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
