<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/Avatar.jpeg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">IBARRA Juan</p>
    <p>Full S tack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 cgol-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur est incidunt eveniet omnis ipsa repudiandae
        cum odio nemo eligendi. Molestias minus officia adipisci mollitia laborum, repellat obcaecati fuga voluptate
        quo.</p>
    </span>
  </div>
</div>
